<div class="d-none d-sm-inline">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
    <!-- <app-footer></app-footer> -->
</div>
<div class="d-inline d-sm-none">
    <div class="my-5 pt-5 mx-2">

        <div class="text-center">
            <div class="display-1 my-1">Hi</div>
            <small class="text-muted">Please refresh the page for better experience.</small>
            <h5 class="mt-5 pt-5 mb-2">Why am i seeing this ?</h5>
        </div>
        <small class="text-muted">
            <p>We strive to enhance the user experience for our valued customers. In our pursuit of a seamless user interface, we have implemented responsive design techniques. However, it is important to note that the adoption of responsive design may result in increased site complexity and the utilization of heavy JavaScript, which, in turn, can lead to slower page loading times.
            </p>

            <p>To mitigate any potential performance issues, we adhere to adaptive design principles. By doing so, we aim to provide an optimal user experience while maintaining satisfactory performance levels.
            </p>
            <p>
                Please bear in mind that despite our best efforts, occasional slowdowns or delays in page loading may occur. We continuously work towards minimizing these instances and appreciate your understanding and patience.
            </p>
            <p>
                Thank you for choosing us, and we hope you enjoy navigating our website.
            </p>
        </small>
    </div>
</div>