<div class="mx-lg-3 mx-xxl-0">
    <div class="container-xxl">
        <div class="min-vh-100">
            <!-- <div class="text-center mt-5 pt-5 text-dark">
                <div class="fs-2 font-600">Hi there, Your cart is empty !</div>
                <div class="my-1"><small>Looks like you haven't added anything to your cart yet.</small></div>
            </div> -->
            <div class="mt-4 fs-5">2 Items in cart</div>
            <div class="row">
                <div class="col-12 col-md-8">

                    <div class="row py-4 border-bottom">
                        <div class="col-4">
                            <img src="assets/one.jpg" class="img-fluid rounded-3 align-self-center" />
                        </div>
                        <div class="col">
                            <div class="d-flex justify-content-between font-600">
                                <div>Chhatratapti Shivaji Maharaj</div>
                                <div>₹ 600</div>
                            </div>
                            <div class="my-2 text-muted">
                                <small>•&nbsp; Model CSM-A3F12</small><br />
                                <small>•&nbsp; Black Frame</small><br />
                                <small>•&nbsp; Non Reflective Glass</small><br />
                                <small>•&nbsp; 12 x 18 Inch (123 cm Width, 121 cm Length) Frame Size</small><br />
                                <small>•&nbsp; 1.5 Inch (12 cm) Frame Border Size</small><br />
                            </div>
                            <div class="d-flex mt-3 justify-content-between">
                                <div class="btn-group btn-group-sm rounded-3 border border-dark" role="group" aria-label="Basic example">
                                    <button type="button" class="btn border-0 px-3">-</button>
                                    <button type="button" class="btn border-0">1</button>
                                    <button type="button" class="btn border-0 px-3">+</button>
                                </div>

                                <small class="align-self-end text-muted">Remove</small>
                            </div>
                        </div>
                    </div>



                    <div class="row py-4 border-bottom">
                        <div class="col-4">
                            <img src="assets/one.jpg" class="img-fluid rounded-3 align-self-center" />
                        </div>
                        <div class="col">
                            <div class="d-flex justify-content-between font-600">
                                <div>Chhatratapti Shivaji Maharaj</div>
                                <div>₹ 600</div>
                            </div>
                            <div class="my-2 text-muted">
                                <small>•&nbsp; Model CSM-A3F12</small><br />
                                <small>•&nbsp; Black Frame</small><br />
                                <small>•&nbsp; Non Reflective Glass</small><br />
                                <small>•&nbsp; 12 x 18 Inch (123 cm Width, 121 cm Length) Frame Size</small><br />
                                <small>•&nbsp; 1.5 Inch (12 cm) Frame Border Size</small><br />
                            </div>
                            <div class="d-flex mt-3 justify-content-between">
                                <div class="btn-group btn-group-sm rounded-3 border border-dark" role="group" aria-label="Basic example">
                                    <button type="button" class="btn border-0 px-3">-</button>
                                    <button type="button" class="btn border-0">1</button>
                                    <button type="button" class="btn border-0 px-3">+</button>
                                </div>

                                <small class="align-self-end text-muted">Remove</small>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-12 col-md-4">
                    <div class="bg-light py-4 px-3 ms-lg-4">
                        <div class="font-600">Order Summary</div>
                        <div class="d-flex justify-content-between my-2">
                            <div>Price</div>
                            <div>600</div>
                        </div>
                        <div class="d-flex justify-content-between my-2">
                            <div>Delivery</div>
                            <div>40</div>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between my-2 font-600">
                            <div>Total Payable</div>
                            <div>640</div>
                        </div>
                        <button class="btn mt-4 btn-dark w-100">Proceed</button>
                    </div>


                </div>
            </div>




        </div>
    </div>
</div>