<div class="container-xxl min-vh-100 mt-3">
	<div class="mx-lg-3 mx-xxl-0">

		<div>
			Showing results for <span class="font-600">God</span>
		</div>

		<div class="d-flex justify-content-end my-2 gap-2">

			<select class="form-select w-25 rounded-pill shadow-none border-dark" aria-label="Default select example">
				<option selected>Relevance</option>
				<option value="1">Price : Low to High</option>
				<option value="2">Price : High to Low</option>
				<option value="3">New Arrivals</option>
			  </select>

			<button class="btn btn-outline-dark rounded-pill px-4 filter_button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
				<svg width="1.44rem" height="1.44rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
					<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
					<g id="SVGRepo_iconCarrier">
						<path d="M19 14C20.1046 14 21 13.1046 21 12C21 10.8954 20.1046 10 19 10M19 14C17.8954 14 17 13.1046 17 12C17 10.8954 17.8954 10 19 10M19 14V20M19 10V4M12 16C10.8954 16 10 16.8954 10 18C10 19.1046 10.8954 20 12 20C13.1046 20 14 19.1046 14 18C14 16.8954 13.1046 16 12 16ZM12 16V4M5 8C6.10457 8 7 7.10457 7 6C7 4.89543 6.10457 4 5 4C3.89543 4 3 4.89543 3 6C3 7.10457 3.89543 8 5 8ZM5 8V20" stroke-width="1.5" stroke-linecap="round"></path>
					</g>
				</svg>
				<small class="ms-1">Filters</small>
			</button>

		</div>

		<div class="row gy-3 mt-3">
			<div class="col-lg-3 col-md-4 col-sm-6">
				<app-card></app-card>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<app-card></app-card>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<app-card></app-card>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<app-card></app-card>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<app-card></app-card>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<app-card></app-card>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<app-card></app-card>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<app-card></app-card>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<app-card></app-card>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<app-card></app-card>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<app-card></app-card>
			</div>
		</div>

	</div>
</div>

<div class="offcanvas offcanvas-end rounded-start-4" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
	
	<div class="d-flex py-3 px-2 border-bottom">
		<div class="flex-grow-1 text-center align-self-center font-600">Filters</div>
		<button class="btn btn-outline-dark btn-sm shadow-none border-0" data-bs-dismiss="offcanvas" aria-label="Close"><span class="fs-5">🗙</span></button>
	</div>

	<div class="offcanvas-body">

		<div class="accordion" id="accordionExample">
			
			<div class="accordion-item border-0 rounded-0 border-bottom shadow-none py-3 mx-2">
			  
				<button class="accordion-button collapsed shadow-none px-0 font-600 bg-transparent text-black" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				  Price
				</button>
			  
			  <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
				<div class="accordion-body px-0">
					<div class="mb-3 d-flex justify-content-end">
						<select class="form-select shadow-none rounded-pill" aria-label="example">
							<option selected>Min</option>
							<option value="1">One</option>
							<option value="2">Two</option>
							<option value="3">Three</option>
						</select>
						<div class="mx-2 align-self-center">To</div>
						<select class="form-select shadow-none rounded-pill" aria-label="example">
							<option selected>Max</option>
							<option value="1">One</option>
							<option value="2">Two</option>
							<option value="3">Three</option>
						</select>
					</div>
				</div>
			  </div>
			</div>

			<div class="accordion-item border-0 rounded-0 border-bottom shadow-none py-3 mx-2">
			  
				<button class="accordion-button collapsed shadow-none px-0 font-600 bg-transparent text-black" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				  Colour
				</button>
			  
			  <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
				<div class="accordion-body px-0">


				</div>
			  </div>
			</div>
		
			<div class="accordion-item border-0 rounded-0 border-bottom shadow-none py-3 mx-2">
			  
				<button class="accordion-button collapsed shadow-none px-0 font-600 bg-transparent text-black" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				  Size
				</button>
			  
			  <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
				<div class="accordion-body px-0">
				  <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
				</div>
			  </div>
			</div>

			<div class="accordion-item border-0 rounded-0 border-bottom shadow-none py-3 mx-2">
			  
				<button class="accordion-button collapsed shadow-none px-0 font-600 bg-transparent text-black" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
				  Border Size
				</button>
			  
			  <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
				<div class="accordion-body px-0">
				  <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
				</div>
			  </div>
			</div>

		</div>
	
	</div>
	
	<div class="sticky-bottom p-3">
		<div class="row gx-2">
			<div class="col">
				<button class="btn btn-dark w-100 rounded-pill py-2"><small>View</small></button>
			</div>
			<div class="col">
				<button class="btn btn-outline-dark w-100 rounded-pill py-2"><small>Clear All</small></button>
			</div>
		</div>
	</div>
  </div>