<div class="mx-lg-2 mx-xxl-0">
	<div class="container-xxl">
		<div class="row">
			<div class="col-7 pt-xxl-5 pt-4">
				<img src="assets/one.jpg" class="img-fluid rounded mb-3" />
				<img src="assets/one.jpg" class="img-fluid rounded mb-3" />
				<img src="assets/one.jpg" class="img-fluid rounded mb-3" />
				<img src="assets/one.jpg" class="img-fluid rounded mb-3" />
				<img src="assets/one.jpg" class="img-fluid rounded mb-3" />
			</div>
			<div class="col-5">
				<div class="sticky-top pt-xxl-5 pt-4">
					<div class="fs-3">Chhatrapati Shivaji Maharaj</div>
					<div>Black, 5 x 8 Inch (15 x 48 cm)</div>
					<div class="my-3">
						<span class="fs-3 font-600">₹ 299</span><br />
						<small class="text-success">Price incl. of all taxes</small>
					</div>

					<div class="accordion accordion-flush" id="accordionFlushExample">
						<div class="accordion-item">
						  <h2 class="accordion-header">
							<button class="accordion-button collapsed font-600 shadow-none bg-white text-black px-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
							  Product Details
							</button>
						  </h2>
						  <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
							<div class="accordion-body px-0">
								<table class="table table-bordered">
									  <tbody>
										<tr>
										  <th scope="row">Frame Colour</th>
										  <td>White</td>
										</tr>
										<tr>
										  <th scope="row">Material</th>
										  <td>Fiber</td>
										</tr>
										<tr>
										  <th scope="row">Frame Size</th>
										  <td colspan="2">12 x 18 Inch (28 x 28 cm)</td>
										</tr>
									  </tbody>
								</table>
							</div>
						  </div>
						</div>
						<div class="accordion-item">
						  <h2 class="accordion-header">
							<button class="accordion-button collapsed font-600 shadow-none bg-white text-black px-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
							  Measurement Details
							</button>
						  </h2>
						  <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
							<div class="accordion-body px-0">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
						  </div>
						</div>
					  </div>

				</div>
			</div>
		</div>
	</div>
</div>