<div class="mx-lg-2 mx-xxl-0">
	<div class="container-xxl">

		<div class="mt-4 mb-5">
			<section id="slider">
				<input type="radio" name="slider" id="s1">
				<input type="radio" name="slider" id="s2">
				<input type="radio" name="slider" id="s3" checked>
				<input type="radio" name="slider" id="s4">
				<input type="radio" name="slider" id="s5">

				<label for="s1" id="slide1">
					<img src="assets/one.jpg" class="h-100 w-100 display-image rounded shadow-sm" />
				</label>

				<label for="s2" id="slide2">
					<img src="assets/one.jpg" class="h-100 w-100 display-image rounded shadow-sm" />
				</label>

				<label for="s3" id="slide3">
					<img src="assets/one.jpg" class="h-100 w-100 display-image rounded shadow-sm" />
				</label>

				<label for="s4" id="slide4">
					<img src="assets/one.jpg" class="h-100 w-100 display-image rounded shadow-sm" />
				</label>

				<label for="s5" id="slide5">
					<img src="assets/one.jpg" class="h-100 w-100 display-image rounded shadow-sm" />
				</label>

			</section>
		</div>
	</div>

	<div class="container-xxl">
		<div class="row">
			<div class="col-7">
				<img src="assets/one.jpg" class="img-fluid rounded" />
				<img src="assets/one.jpg" class="img-fluid rounded" />
				<img src="assets/one.jpg" class="img-fluid rounded" />
				<img src="assets/one.jpg" class="img-fluid rounded" />
				<img src="assets/one.jpg" class="img-fluid rounded" />
			</div>
			<div class="col-5">
				<div class="sticky-top pt-4">
					<div class="fs-3">Chhatrapati Shivaji Maharaj</div>
					<div>Black • 5 x 8 Inch • 15 x 48 cm</div>
					<div class="my-3">
						<span class="fs-3 font-600">₹ 299</span><br />
						<small class="text-success">Price incl. of all taxes</small>
					</div>

					

				</div>
			</div>
		</div>
	</div>
</div>