<div class="mx-lg-3 mx-xxl-0">
	<div class="container-xxl">
        <nav class="mt-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#" class="text-decoration-none text-dark">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Library</li>
            </ol>
        </nav>
		<div class="mt-4 mb-5">
			<section id="slider">
				<input type="radio" name="slider" id="s1">
				<input type="radio" name="slider" id="s2">
				<input type="radio" name="slider" id="s3" checked>
				<input type="radio" name="slider" id="s4">
				<input type="radio" name="slider" id="s5">

				<label for="s1" id="slide1">
					<img src="assets/one.jpg" class="h-100 w-100 display-image rounded-3 shadow" />
				</label>

				<label for="s2" id="slide2">
					<img src="assets/one.jpg" class="h-100 w-100 display-image rounded-3 shadow" />
				</label>

				<label for="s3" id="slide3">
					<img src="assets/one.jpg" class="h-100 w-100 display-image rounded-3 shadow" />
				</label>

				<label for="s4" id="slide4">
					<img src="assets/one.jpg" class="h-100 w-100 display-image rounded-3 shadow" />
				</label>

				<label for="s5" id="slide5">
					<img src="assets/one.jpg" class="h-100 w-100 display-image rounded-3 shadow" />
				</label>

			</section>
		</div>

		<div class="row mt-3 mb-5">
			<div class="col-7">

				<div class="me-2">
					<div class="d-flex justify-content-between">
							<div class="fs-3 font-600">Chhatrapati Shivaji Maharaj</div>
						<div class="align-self-center">
							<code>
								<svg width="2rem" height="2rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ff0000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M2 9.1371C2 14 6.01943 16.5914 8.96173 18.9109C10 19.7294 11 20.5 12 20.5C13 20.5 14 19.7294 15.0383 18.9109C17.9806 16.5914 22 14 22 9.1371C22 4.27416 16.4998 0.825464 12 5.50063C7.50016 0.825464 2 4.27416 2 9.1371Z" fill="#ffffff"></path> </g></svg>
							</code>
						</div>
					</div>
					<small>Black • 12 x 15 cm • 12 x 18 Inch • 1 Inch Border</small>

					<div class="mt-4 font-600">Highlights</div>
					<div class="my-2 text-muted">
						<small>•&nbsp; Model CSM-A3F12</small><br/>
						<small>•&nbsp; Black Frame</small><br/>
						<small>•&nbsp; Non Reflective Glass</small><br/>
						<small>•&nbsp; 12 x 18 Inch (123 x 121 cm) Frame Size</small><br/>
						<small>•&nbsp; 1.5 Inch (12 cm) Frame Border Size</small><br/>
					</div>

					<div class="d-flex justify-content-between mt-4">
						<div class="font-600">Measurements</div>
						<button class="btn btn-outline-dark rounded-circle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">+</button>
					</div>


					<div class="collapse mt-4" id="collapseExample">
						<img src="assets/display.jpg" class="img-fluid rounded-3 shadow"/>
					</div>

				</div>
			</div>
			<div class="col-5 border-start">
				<div class="ms-2">
					<div class="fs-3 font-600">₹ 600</div>
					<small class="text-success">Inclusive of all taxes</small>
					<div class="my-3">
						<div class="mb-2">Frame</div>
						<div class="row g-2">
							<div class="col-3 col-lg-2">
								<img src="assets/frameBorder.jpg" class="img-fluid border border-2 border-dark rounded-3"/>
							</div>
							<div class="col-3 col-lg-2">
								<img src="assets/frameBorder.jpg" class="img-fluid border border-2 border-muted rounded-3"/>
							</div>
							<div class="col-3 col-lg-2">
								<img src="assets/frameBorder.jpg" class="img-fluid border border-2 border-muted rounded-3"/>
							</div>
							<div class="col-3 col-lg-2">
								<img src="assets/frameBorder.jpg" class="img-fluid border border-2 border-muted rounded-3"/>
							</div>
							<div class="col-3 col-lg-2">
								<img src="assets/frameBorder.jpg" class="img-fluid border border-2 border-muted rounded-3"/>
							</div>
						</div>

						<div class="mt-3 mb-2">Size</div>
						<div class="row gy-3 gx-2">
							<div class="col-6 col-lg-4">
								<div class="border py-2 border-2 border-dark rounded-3 text-center">
									<div>12 x 18 Inch</div>
									<small class="text-muted">23 x 28 cm</small>
								</div>
							</div>
							<div class="col-6 col-lg-4">
								<div class="border py-2 border-2 border-muted rounded-3 text-center">
									<div>12 x 18 Inch</div>
									<small class="text-muted">23 x 28 cm</small>
								</div>
							</div>
						</div>

					</div>

					<div class="d-flex align-items-stretch py-4 gap-2">

						<div class="btn-group" role="group" aria-label="Basic example">
							<button type="button" class="btn btn-outline-dark rounded-circle px-3">-</button>
							<button type="button" class="btn btn-transparent border-0 px-3">1</button>
							<button type="button" class="btn btn-outline-dark rounded-circle px-3">+</button>
						  </div>

						<button class="btn btn-dark border-2 rounded-3 py-2 w-100">
							Add to cart
						</button>
				</div>

				</div>
			</div>
		</div>

	</div>


</div>