:root,
body {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 500 !important;
}

.font-500 {
  font-weight: 500 !important;
}

.font-600 {
  font-weight: 600 !important;
}

.border-purple {
  border-color: #6610f2 !important;
}

.color_block {
  border-color: white !important;
  transition: border-color .15s ease-in-out;
}


.color_block:hover {
  border-color: #d1d1d1 !important;
}

.filter_button svg {
  stroke: #212529 !important;
  transition: stroke .15s ease-in-out;
}

.filter_button:hover svg {
  stroke: white !important;
}

.color_input[type="checkbox"]:checked+label {
  border-color: #6610f2 !important;
}

.purple_checkbox {
  border-color: #212529 !important;
}

/* .purple_checkbox:hover {
    background-color: #212529 !important;
} */

.purple_checkbox:checked {
  background-color: #212529 !important;
}

.extra-small-text {
  font-size: x-small !important;
}

.bg-custom-gray {
  background-color: rgb(240, 240, 240) !important;
}

.category-fil-item:hover {
  background-color: rgb(240, 240, 240) !important;
}

.scrollable-div {
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: #b1b1b1 #ececec;
}

.scrollable-div::-webkit-scrollbar {
  height: 0.30rem !important;
}

.scrollable-div::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #ececec;
}

.scrollable-div::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #b1b1b1;
}

.scrollable-div .card {
  flex: 0 0 auto;
  width: 19.28rem;
}

/* ________________________________ */

.image-banner {
  height: 30rem;
}

.image-banner img {
  animation: scroll 60s infinite alternate ease-in-out;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(calc(-100% + 100vw));
  }
}

/* _____________________________________________________ */
#slider [type=radio] {
  display: none;
}

#slider {
  height: 35vw;
  position: relative;
  perspective: 70rem;
  transform-style: preserve-3d;
}

.display-image {
  object-fit: cover;
  object-position: center;
}

#slider label {
  margin: auto;
  width: 72%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: transform 0.5s ease;
}

#s1:checked~#slide4,
#s2:checked~#slide5,
#s3:checked~#slide1,
#s4:checked~#slide2,
#s5:checked~#slide3 {

  transform: translate3d(-30%, 0, -200px);
}

#s1:checked~#slide5,
#s2:checked~#slide1,
#s3:checked~#slide2,
#s4:checked~#slide3,
#s5:checked~#slide4 {

  transform: translate3d(-15%, 0, -100px);
}

#s1:checked~#slide1,
#s2:checked~#slide2,
#s3:checked~#slide3,
#s4:checked~#slide4,
#s5:checked~#slide5 {

  transform: translate3d(0, 0, 0);
}

#s1:checked~#slide2,
#s2:checked~#slide3,
#s3:checked~#slide3,
#s4:checked~#slide5,
#s5:checked~#slide1 {

  transform: translate3d(15%, 0, -100px);
}

#s1:checked~#slide3,
#s2:checked~#slide4,
#s3:checked~#slide5,
#s4:checked~#slide1,
#s5:checked~#slide2 {

  transform: translate3d(30%, 0, -200px);
}