<div class="container-xxl">
    <div class="mx-lg-3 mx-xxl-0">
        <div id="carouselExample" class="carousel slide mb-5 mt-3">
            <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/two.jpg" class="w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/two.jpg" class="w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/two.jpg" class="w-100" alt="...">
            </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="mt-5 mb-4"><h3>Collections</h3></div>

        <div class="row gx-1 mt-4">
            <div class="col">
                <div class="text-center">
                    <a class="nav-link" routerLink="/category/god" ariaCurrentWhenActive="page">
                        <div><img src="assets/lord-shiva.jpg" class="img-fluid rounded-2" /></div>
                        <small>God</small>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="text-center">
                    <a class="nav-link" routerLink="/category/god" ariaCurrentWhenActive="page">
                        <div><img src="assets/nature.jpg" class="img-fluid rounded-2" /></div>
                        <small>Nature</small>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="text-center">
                    <a class="nav-link" routerLink="/category/god" ariaCurrentWhenActive="page">
                        <div><img src="assets/chhatrapati-shivaji-maharaj.jpg" class="img-fluid rounded-2"/></div>
                        <small>Idols</small>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="text-center">
                    <a class="nav-link" routerLink="/category/god" ariaCurrentWhenActive="page">
                        <div><img src="assets/modern-art.jpg" class="img-fluid rounded-2" /></div>
                        <small>Modern Art</small>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="mt-5 mb-4"><h3>Featured this week</h3></div>

        <div class="row gy-3">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <app-card></app-card>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <app-card></app-card>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <app-card></app-card>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <app-card></app-card>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <app-card></app-card>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <app-card></app-card>
            </div>
        </div>
    </div>
</div>